.header {
    padding-left: 15%;
}

.footer {
    text-align: center;
}

.citation {
    text-align: center;
    font-style: italic;
}

.thumbnail{
    border: 0 none;
    box-shadow: none;
    text-align: center;   
}

.tab-pane {
    text-align: justify;   
}

.video-container {
    position: relative;
    padding-bottom:50%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:80%;
    height:80%;
}

.skills {
    font-weight: bold;
    font-size: 120%;
}

/* ---------------------------------- SOCIAL MEDIA STYLE IN HEADER ----------------------------------------------------------------- */
.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

/* ---------------------------------- BACK TO TOP BUTTON ----------------------------------------------------------------- */

.back-to-top {
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
}

.back-to-top i {
    font-size: 60px;
}

